---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// After much testing and experimenting this seemed to be the nicest way without
// directly adding an <img> to the layout.  This is unfortunately very
// convoluted.  It is inspired by:
//     https://stackoverflow.com/a/65062883/
.site-title::before {
  background-image: url("{{ site.baseurl }}{% link /images/slug.png %}");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 50px;
  margin-top: 5px;
  margin-left: -45px;
  content: "";
  position: absolute;
}
.site-title {
  margin-left: 40px;
}
